:root {
    --table-background-export: #FFFFFF;
    --table-row-even-export: #F8F9FA;
    --table-row-odd-export: #E9ECEF;
    --table-border-export: #DEE2E6;
    --text-color-export: #212529;
    --hover-background-export: #D6D8DB;
    --button-bg: #007BFF;
    --button-text: #FFFFFF;
}

.exportTable {
    width: 100%;
    overflow-x: auto;
    display: block;
    padding: 20px 0;
}

.exportTable table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    background-color: var(--table-background-export);
    color: var(--text-color-export);
    table-layout: fixed;
}

.exportTable th, .exportTable td {
    border: 1px solid var(--table-border-export);
    text-align: center;
    padding: 12px;
    word-wrap: break-word;
}

.exportTable thead {
    background-color: #343A40;
    color: #FFFFFF;
}

.exportTable tbody tr:nth-child(even) {
    background-color: var(--table-row-even-export);
}

.exportTable tbody tr:nth-child(odd) {
    background-color: var(--table-row-odd-export);
}

.exportTable tbody tr:hover {
    background-color: var(--hover-background-export);
}

.exportTable table thead th:nth-child(1),
.exportTable table tbody td:nth-child(1) {
    width: 10%;
}

.exportTable table thead th:nth-child(2),
.exportTable table tbody td:nth-child(2),
.exportTable table thead th:nth-child(3),
.exportTable table tbody td:nth-child(3),
.exportTable table thead th:nth-child(4),
.exportTable table tbody td:nth-child(4) {
    width: 20%;
}

.exportTable table thead th:nth-child(5),
.exportTable table tbody td:nth-child(5) {
    width: 10%;
}

.exportTable table thead th:nth-child(6),
.exportTable table tbody td:nth-child(6) {
    width: 20%;
}

.exportTable .action-btn {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

.exportTable .action-btn:hover {
    background-color: #0056b3;
}

.exportTable tbody tr td:nth-child(6) {
    white-space: nowrap;
    text-align: center;
}
