:root {
    --table-background: #FFFFFF;
    --table-row-even: #F8F9FA;
    --table-row-odd: #E9ECEF;
    --table-border: #DEE2E6;
    --text-color: #212529;
    --hover-background: #D6D8DB;
    --button-bg: #007BFF;
    --button-text: #FFFFFF;
}

.importTable {
    max-height: 40vh;
    width: 100%;
    overflow-x: auto;
    display: block;
    padding: 20px 0;
}

.importTable::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.importTable thead {
    width: 100%;
    position: sticky;
    top: -25px;
    background-color: var(--table-background);
}

.importTable table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    background-color: var(--table-background);
    color: var(--text-color);
    table-layout: fixed;
}

.importTable th, .importTable td {
    border: 1px solid var(--table-border);
    text-align: center;
    padding: 12px;
    word-wrap: break-word;
}

.importTable thead {
    background-color: #343A40;
    color: #FFFFFF;
}

.importTable tbody tr:nth-child(even) {
    background-color: var(--table-row-even);
}

.importTable tbody tr:nth-child(odd) {
    background-color: var(--table-row-odd);
}

.importTable tbody tr:hover {
    background-color: var(--hover-background);
}

.importTable table thead th:nth-child(1),
.importTable table tbody td:nth-child(1) {
    width: 10%;
}

.importTable table thead th:nth-child(2),
.importTable table tbody td:nth-child(2),
.importTable table thead th:nth-child(3),
.importTable table tbody td:nth-child(3),
.importTable table thead th:nth-child(4),
.importTable table tbody td:nth-child(4) {
    width: 25%;
}

.importTable table thead th:nth-child(5),
.importTable table tbody td:nth-child(5) {
    width: 10%;
}


.importTable .action-btn {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

.importTable .action-btn:hover {
    background-color: #0056b3;
}

.importTable tbody tr td:nth-child(6) {
    white-space: nowrap;
    text-align: center;
}

.modalBody {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
}

.modalBody::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.addCard{
    max-height: 40vh;
    overflow-x: auto;
    display: block;
}
.addCard::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.addCard h3 {
    display: flex;
    justify-content: center;
}

.footCard{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.modalDetail{
    z-index: 2000 !important;
    color: black;
}

.titleModal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmModal{
    z-index: 2000 !important;
    color: black;
}





