.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--outlet-width);
    height: 100vh;
}

/* title */
.title{
    color: white;
    margin-top: 5vh;
}

/* alert available request */
.alert{
    background-color: rgba(177, 70, 70, 0.68);
    color: white;
    width: calc(0.9 * var(--outlet-width));
    height: 5vh;
    margin-bottom: 2vh;
}

.alert p{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vh;
    margin-left: 1.5vw;
    font-size: 1.2rem;
}

.alert p span{
    text-decoration: underline;
    transition: text-shadow .2s ease-out;
}

.alert p span:hover{
    cursor: pointer;
    text-shadow: 0 0 10px white;
}

/* table */
.table_container{
    width: calc(0.9 * var(--outlet-width));
    overflow-y: scroll;
    height: 70vh;
}

.table_container::-webkit-scrollbar {
    display: none;
}

.table_container table thead tr th{
    position: sticky;
    top: -0.1px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

.table_container table tbody tr td:nth-child(n + 2):nth-child(-n + 7){
    text-align: left;
}

/* request list modal */
.save_btn{
    display: flex;
    justify-content: flex-end;
}

.save_btn button{
    margin: 0;
}

/* group modal */
.group_table{

}

.group_table thead tr th{
    text-align: center;
}

.group_table tbody tr td{
    text-align: center;
    vertical-align: middle;
}

/* detail modal */
.detail{
    overflow-y: scroll;
    max-height: 50vh;
}

.detail::-webkit-scrollbar {
    display: none;
}

.detail h5 span,
.detail h6 span{
    font-weight: bold;
}

.detail h5 input,
.detail h5 select,
.detail h5 textarea{
    width: 100% !important;
    margin-top: 0.5vh;
}

.detail h5 ul li{
    width: 100% !important;
}

.detail h5 label{
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.detail h5{
    margin-top: 3vh;
}
