:root {
    --table-background: #1E1E1E;
    --table-row-even: #1E1E1E;
    --table-row-odd: #2A2A2A;
    --table-border: #444444;
    --text-color: #FFFFFF;
    --hover-background: #333333;
}

.addRequestBtn, .pickBtn{
    display: flex;
    justify-content: flex-end;
    background-color: var(--app-background);
    color: var(--text-color);
}


.importTable {
    margin: 20px auto;
    width: 95%;
    height: 80%;
    background-color: var(--table-background);
    color: var(--text-color);
    border: 1px solid var(--table-border);
    table-layout: fixed;
}

.importTable th, td {
    border: 1px solid var(--table-border);
    text-align: center;
    padding: 8px;
}

.importTable tr:nth-child(even) {
    background-color: var(--table-row-even);
}

.importTable tr:nth-child(odd) {
    background-color: var(--table-row-odd);
}

.importTable tr:hover {
    background-color: var(--hover-background);
}

.importTable th:nth-child(1), .importTable td:nth-child(1) {
    width: 10%;
}

.importTable th:nth-child(2), .importTable td:nth-child(2) {
    width: 30%;
}

.importTable th:nth-child(3), .importTable td:nth-child(3) {
    width: 30%;
}

.importTable th:nth-child(4), .importTable td:nth-child(4) {
    width: 10%;
}

.importTable th:nth-child(5), .importTable td:nth-child(5) {
    width: 20%;
}
